{% load static %}
{% static "" as baseUrl %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Image List</title>
  </head>
  <body>

    <table>
      <tr>
        <th>Name</th>
        <th>Image</th>
      </tr>
      {% for i in imgs %}
      <tr>
        <td>{{i.fname}}</td>
        <td><img src="{{baseUrl}}/{{i.furl}}" style="width: 200px;" /></td>
        <td><a href="download/{{i.id}}" download="{{i.fname}}.{{i.fext}}">Download</a></td>
        <!-- <td><a href="{{baseUrl}}/{{i.furl}}" download="{{i.fname}}.{{i.fext}}">Download</a></td> -->
      </tr>
      {% endfor %}
    </table>
  
  </body>
</html>
