<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Page</title>
  </head>
  <body>

    <form action="ins">
      <input type="text" name="name" placeholder="Name" />
      <input type="email" name="email" placeholder="Email" />
      <input type="password" name="pwd" placeholder="Password" />
      <input type="text" name="phno" placeholder="Phone number" />
      <input type="submit" value="Insert data" />
    </form>
  
  </body>
</html>
